/*//Global Page Styles//*/

/*--- deactivating this for now in attempt to use google fonts in html ---*/

body {
	background-color: #a9a9a9;
	font-family: 'Alegreya Sans', sans-serif;;
	margin:0;
}


.container {
	background-color: #fff;
	margin: 0 auto;
	width: 1000px;
}

main {
	padding: 20px;
}

h1 {
	font-size:44px;
	color: grey;
	margin: 0;
}

/*Header Styles////////////////*/
/**This is unfinished finish the code and make sure the colors
work together**/
header {
	background-color: black;
	color: cadetblue;
	height: 140px;
	padding: 20px;
}

/*Footer styles
I'm also adding this for fun////////*/
footer {
	background-color: black;
	color: cadetblue;
	height: 80px;
	padding: 20px;
}

/*Form Styles input
I put this here as an example. this would go here
if I had text area or input forms to put in, but I don't////
td {
	padding: 5px
}

textarea {
	width: 300px;
	height: 200px;
}

////////////////////*/